body{
  background-color: #faf5e6;
}

header{
    margin: 5px 20% 0 20%;
    gap: 450px;
    z-index: 100;   
}

  .Header_Name{
      font-size: 25px;
      font-family: "Ranchers", sans-serif;
  }

  .Header_Nav{
      display: flex;
      gap: 0 20px;
  }

  .Nav{
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
  }

  .ContactMe{
    display: block;
    text-decoration: none;
    background-color: rgba(223, 6, 6, 0.836);
    width:10%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family:"Oswald", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px #23395B;
    position: fixed;
    top: 5%;
    right: 20px;
    z-index: 1000;

  }

  .TITLE{
    /*background-color: aquamarine;*/
    position: relative;
    height: 300px;
    margin-top: 120px;
     }

   .Risa_Pic1{
     width: 50%;
     height: 600px;
     border-radius: 50%;
     margin: 0 auto 0 auto;
     box-shadow: 2px 2px 4px;
     
    }

   .Title_Who{
     position: absolute;
     left:300px;
     top: 70px;
     font-family:"Oswald", sans-serif;
     font-size: 60px;
    }

    .Title_Is{
      position: absolute;
      left:430px;
      top: 120px;
      font-family:"Oswald", sans-serif;
      font-size: 60px;
    }

    .Title_RISA{
      position:absolute;
      right: 300px;
      top: 20px;
      font-family:"Ranchers", sans-serif;
      font-size: 100px;
    }

    .Title_q{
      position:absolute;
      right: 250px;
      top: 30px;
      font-family:"Ranchers", sans-serif;
      font-size: 100px;
    }


.SUMMARY{
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*background-color: antiquewhite;*/
    margin: 420px auto 0 auto;
    }

    .UpperLeft{
      
        background-color:#23395B;
        grid-column:1/3;
        grid-row:1/6;
        
        font-family: "RocknRoll One", sans-serif;
        color: #F5F5DC; 
        text-shadow: 2px 2px 4px #000000;
  
    }


      .BASIC{
        text-align: center;
        margin-top: 8px;
      }

      .label{
         margin-top: 8px;
         display: inline-block;
         width: 100px;
         text-align: right;
         margin-right: 10px;
       }


      .UpperLeft ul{
           margin-top: 35px;
       }


    .UpperRight{
        background-color: #6B715E;
        grid-column: 3/5;
        grid-row:2/7 ;
        font-family: "RocknRoll One", sans-serif;
        color: #FAEBD7;
        text-shadow: 2px 2px 4px #000000;
      }

      .INTERESTS{
        margin-left: 10%;
        margin-top: 65px;
       }

       .Hobby{
        text-align: left;
        margin-top: 25px;
        margin-left: 55%;
       }

       .Hobby li{
        margin-top: 15px;
        font-weight: bold;
       }


    .BottomLeft{
        background-color: #D9C8A0;
        grid-column: 1/3;
        grid-row: 6/10;
        font-family: "RocknRoll One", sans-serif;
        font-weight: bold;
        color: #4a4848; 
        text-shadow: 2px 2px 4px #FAEBD7;
    }

        .STYLE{
          margin-left: 10%;
          margin-top: 8px;
          margin-bottom: 25px;
        }

        .Explanation{
          text-align: center;
          margin-top: 5px;
        }

        .StyleDetails{
          margin-top: 20px;
          margin-left: 20px;
        }



    .BottomRight{
         background-color: #D19A00;
         grid-column: 3/5;
         grid-row: 7/11 ;
        font-family: "RocknRoll One", sans-serif;
         font-weight: bold;
         color: #FAEBD7;
         text-shadow: 2px 2px 4px #000000;
         }

       .Skills{
          text-align: center;
          margin-top: 8px;
       }

       .SkillsDetails{
           margin-top: 20px;
           text-align: left;
           margin-left: 8px;
       }

        .SkillsDetails strong{
            display: block;
      }

         .SkillsDetails li{
            margin-bottom: 20px;
      }

    .Center{
        background-color: black;
        grid-column: 2/4;
        grid-row: 4/7;
    }

.Reason{
 position: relative;
 width: 100%;
 height: 500px; 
 margin-top: 100px;
}

    .ReasonPic{
  position: absolute;
  top: 5%;
  width: 80%;
  left: 20%;
  height: 450px;
  background-color: #d9c8a0e7;
}

.ReasonExplanation{
  position: absolute;
  top: 15%;
  width: 70%;
  left: 5%;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 12px black;
  opacity: 0.5;

}

.Skill{
 position: relative;
 width: 100%;
 height: 500px; 
 margin-top: 100px;
}

.SkillPic{
  position: absolute;
  top: 5%;
  width: 80%;
  right: 20%;
  height: 450px;
  background-color: #d9c8a0e7;
}

.SkillExplanation{
  position: absolute;
  top: 15%;
  width: 70%;
  left: 5%;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 12px black;
  opacity: 0.5;
}




