.Objective{
 position: relative;
 width: 100%;
 height: 500px; 
 margin-top: 100px;
 font-family: "RocknRoll One", sans-serif;

 opacity: 0;
 transform: translateX(-1000px);
 transition: all 1s ease;
}

 .Objective.show3{
  opacity: 1;
  transform: translate(0,0);
 }

.ObjectivePic{
  position: absolute;
  top: 5%;
  width: 80%;
  right: 20%;
  height: 450px;
  background-color: #d9c8a0e7;

  opacity: 0;
  transform: translatex(-1000px);
  transition: all 1s ease;
  
  }

  .Objective.show3 .ObjectivePic{
    opacity: 1;
    transform: translate(0,0);
  }

.ObjectivePic::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../PICS/Designer.jpg");
  filter: saturate(40%);
  background-size: cover;
  
}

.ObjectiveExplanation{
  position: absolute;
  top: 15%;
  width: 70%;
  right: 5%;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 12px black;
  opacity: 0.8;

  opacity: 0;
  transform: translatex(-1000px);
  transition: all 1s ease;
  transition-delay: 0.2s;
}

.Objective.show3 .ObjectiveExplanation{
  opacity: 1;
  transform: translate(0,0);
}

.ObjectiveExplanation h1{
    text-align: center;
    margin-top: 10px;
}

.ObjectiveSentence{
    margin-top: 25px;
    text-align: center;
    line-height: 30px;

    opacity: 0;
    transform: translateY(12px);
    transition: all 1s ease;

    
}

 .Objective.show3 .ObjectiveSentence{
     opacity: 1;
     transform: translate(0,0);
     transition-delay: 1s;
 }

 .Objective{
 position: relative;
 width: 100%;
 height: 500px; 
 margin-top: 100px;
 font-family: "RocknRoll One", sans-serif;

 opacity: 0;
 transform: translateX(-1000px);
 transition: all 1s ease;
}

 .Objective.show3{
  opacity: 1;
  transform: translate(0,0);
 }

.ObjectivePic{
  position: absolute;
  top: 5%;
  width: 80%;
  right: 20%;
  height: 450px;
  background-color: #d9c8a0e7;

  opacity: 0;
  transform: translatex(-1000px);
  transition: all 1s ease;
  
  }

  .Objective.show3 .ObjectivePic{
    opacity: 1;
    transform: translate(0,0);
  }

.ObjectivePic::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../PICS/Designer.jpg");
  filter: saturate(40%);
  background-size: cover;
  
}

.ObjectiveExplanation{
  position: absolute;
  top: 15%;
  width: 70%;
  right: 5%;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 12px black;
  opacity: 0.8;

  opacity: 0;
  transform: translatex(-1000px);
  transition: all 1s ease;
  transition-delay: 0.2s;
}

.Objective.show3 .ObjectiveExplanation{
  opacity: 1;
  transform: translate(0,0);
}

.ObjectiveExplanation h1{
    text-align: center;
    margin-top: 10px;
}

.ObjectiveSentence{
    margin-top: 25px;
    text-align: center;
    line-height: 30px;

    opacity: 0;
    transform: translateY(12px);
    transition: all 1s ease;

    
}

 .Objective.show3 .ObjectiveSentence{
     opacity: 1;
     transform: translate(0,0);
     transition-delay: 1s;
 }

 @media (max-width: 768px) {

  .Objective {
    height: auto;
    margin-top: 60px;
    transform: none;
    opacity: 1;
  }

  .ObjectivePic {
    position: relative;
    width: 90%;
    right: 0;
    margin: 0 auto;
    height: 250px;
    transform: none;
    opacity: 1;
  }

  .ObjectivePic::before {
    background-position: 50% 50%;
  }

  .ObjectiveExplanation {
    position: relative;
    width: 90%;
    right: 0;
    margin: 20px auto 0 auto;
    height: auto;
    padding: 20px;
    transform: none;
    opacity: 1;
  }

  .ObjectiveSentence {
    opacity: 1;
    transform: none;
    margin-top: 15px;
    line-height: 26px;
  }
}