header{
    padding-bottom: 5%;
    background-color: rgb(230, 156, 60) ;
    
}

h1{
    padding-top: 1%;
    padding-left: 15%;
}


.navi{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 0 5%;
    margin-right: 20%;
    margin-top: 1%;
}

.navi a{
    text-decoration: none;
}

.CONTACT{
    position: fixed;
    top: 15%;
    right: 5%;
    display: block;
    width: 10%;
    height: 100px;
    background-color: brown; 
    color: #FFFFFF; 
    box-shadow: 8px 8px 8px rgb(91, 23, 23);
    text-decoration: none;  
    text-align: center;
    line-height:100px;
    z-index: 5;
}

.CONTACT:hover{
    background-color:rgb(209, 117, 12) ;
    width: 13%;
    height: 120px;
    line-height: 120px;
}

a:hover{
    font-size: 20px;
}

.TITLE{
    background-color: rgb(230, 156, 60);

    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

h2 {
    position: absolute;
    top: 5%;
    left: 13%;
   font-size: 50px;
}

.WebDesigner{
    position: absolute;
    top: 23%;
    left: 13%;
    font-size: 20px;  
}

.ME{
    position: absolute;
    top: 80%;
    left: 10%;
    text-decoration: none;
    background-color: blanchedalmond;
    width: 20%;
    height: 40px;
    text-align: center;
    line-height: 40px;

    font-weight: bold;
    }

.ME:hover{
    background-color: rgb(222, 237, 5);
    width: 30%;
    
}

form{
    margin: 0 20%;
    height: 650px;
    background-color: rgb(222, 211, 211);
    margin-top: 5%;
}

   .Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:bold;
    padding-top: 5%;
   }

      .C1{
       font-size: 30px;
      }

      .C2{
        font-size: 10px;
      }

      .C3{
        font-size: 15px;
      }

   .ContactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
   
   }

      .NAME{
       height: 50px;
       border-radius: 50px;
       font-size: 20px;
       
      }

      .EMAIL{
       height: 50px;
       border-radius: 50px;
       font-size: 20px;
      }

      .TEXT{
        border-radius: 30px;
        font-size: 20px;
      }

      .SUBMIT{
         background-color: rgb(222, 84, 84);
         border-color:rgb(222, 84, 84);
         color: #FFFFFF;
         border-radius: 10px;
         box-shadow: 5px 5px 5px rgb(147, 55, 55);
         margin-top: 10%;
         height: 50px;
         width:200px ;

      }