*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

button,input,textarea,select{
    font:inherit;
}