.SkillDetails{
    font-family: "RocknRoll One", sans-serif;
    background-color: #6B715E;
    color: #FAEBD7;
    height: 500px;
    margin-top: 8%;
    opacity: 0.7;
    
}

.SkillDetails h1{
    text-align: center;
    padding-top: 2%;
}

.SkillStars{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:70%;
    color: black;  
    text-align: center; 

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
}

  .SkillStars.show4{
      opacity: 1;
      transform: scale(1);
  }

  .Stars span{
       display: inline-block;
       opacity: 0;
       transform: scale(3) rotate(-45deg);
       transition: all 0.6s ease;
  }

  .Stars span:nth-child(1){ transition-delay: 2s; }
  .Stars span:nth-child(2){ transition-delay: 2.5s; }
  .Stars span:nth-child(3){ transition-delay: 3s; }
  .Stars span:nth-child(4){ transition-delay: 3.5s; }
  .Stars span:nth-child(5){ transition-delay: 4s; }

  .SkillStars.show4 .Stars span{
        opacity: 1;
        transform: scale(1) rotate(0deg);
  }

.Skill1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #C7A27C;
    box-shadow: 2px 2px 4px black;
    padding-top:5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 0.2s;
}

 .SkillStars.show4 .Skill1{
     opacity: 1;
     transform: scale(1);
 }

 .Skill1 div{
    font-size: 14px;
    margin-top: 5%;
    font-weight: normal;
 }

.Skill2{
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: #FFF7E6;
    box-shadow: 2px 2px 4px black;
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 0.4s;
}

  .SkillStars.show4 .Skill2{
     opacity: 1;
     transform: scale(1);
 }

 .Skill2 div{
    font-size: 14px;
    padding-top:10%;
    font-weight: normal;
 }

.Skill3{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: #C7A27C;
    box-shadow: 2px 2px 4px black;
    padding-top:5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 0.6s;
}

.SkillStars.show4 .Skill3{
     opacity: 1;
     transform: scale(1);
 }

.Skill3 div{
    font-size: 14px;
    margin-top: 2%;
    font-weight: normal;
}

.Skill4{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #FFF7E6;
    box-shadow: 2px 2px 4px black;
    padding-top:5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 0.8s;
}

.SkillStars.show4 .Skill4{
     opacity: 1;
     transform: scale(1);
 }
 
 .Skill4 div{
    font-size: 14px;
    margin-top: 10%;
    font-weight: normal;
 }

.Skill5{
    grid-column: 5/6;
    grid-row: 1/3;
    background-color: #C7A27C;
    box-shadow: 2px 2px 4px black;
    padding-top: 10%;
     padding-top:5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 1s;
}

.SkillStars.show4 .Skill5{
     opacity: 1;
     transform: scale(1);
 }
 .Skill5 div{
    font-size: 14px;
    margin-top: 2%;
    font-weight: normal;

 }

.Skill6{
    grid-column: 6/7;
    grid-row: 2/4;
    background-color: #FFF7E6;
    box-shadow: 2px 2px 4px black;
    padding-top: 10%;
     padding-top:5%;
    font-size: 20px;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    transition-delay: 1.2s;
}

.SkillStars.show4 .Skill6{
     opacity: 1;
     transform: scale(1);
 }

 .Skill6 div{
    font-size: 14px;
    margin-top: 2%;
    font-weight: normal;
 }

 @media (max-width: 768px) {

  .SkillDetails {
    height: auto;
    padding-bottom: 40px;
    margin-top: 60px;
  }

  .SkillDetails h1 {
    padding-top: 20px;
    font-size: 28px;
  }

  
  .SkillStars {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: auto;
    opacity: 1;
    transform: none;
  }

 
  .Skill1, .Skill2, .Skill3,
  .Skill4, .Skill5, .Skill6 {
    width: 90%;
    height: auto;
    padding: 15px 10px;
    font-size: 18px;
    transform: none;
    opacity: 1;
  }

 
  .Skill1 div,
  .Skill2 div,
  .Skill3 div,
  .Skill4 div,
  .Skill5 div,
  .Skill6 div {
    font-size: 13px;
    margin-top: 10px;
    line-height: 20px;
  }

  
  .Stars span {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}